<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeyou.yeyingBIbackend.mapper.OrderRecordMapper">

    <resultMap id="BaseResultMap" type="com.yeyou.yeyingBIbackend.model.entity.OrderRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="interfaceId" column="interfaceId" jdbcType="BIGINT"/>
            <result property="orderName" column="orderName" jdbcType="VARCHAR"/>
            <result property="outPayNo" column="outPayNo" jdbcType="VARCHAR"/>
            <result property="outPayChannel" column="outPayChannel" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="orderType" column="orderType" jdbcType="INTEGER"/>
            <result property="totalNum" column="totalNum" jdbcType="INTEGER"/>
            <result property="totalPrice" column="totalPrice" jdbcType="INTEGER"/>
            <result property="paySuccessTime" column="paySuccessTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,interfaceId,
        orderName,outPayNo,outPayChannel,
        status,orderType,totalNum,
        totalPrice,paySuccessTime,createTime,
        updateTime,isDelete
    </sql>
</mapper>
